* {
  margin: 0;
}

html, body, #root {
  height: 100%;
}

body {
  --dark-gray: rgb(30, 30, 30);
  margin: 0;
  font-family: 'Manrope', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  background-color: var(--dark-gray);
  color: white;
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
  letter-spacing: 1.1px;
}

h1, h2, h3, h4 {
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 2rem;
}

a,
.navbar-light .navbar-brand,
.navbar-light .navbar-nav .nav-link,
.navbar-light .navbar-nav .active>.nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show>.nav-link,
.navbar-light .navbar-nav .nav-link:focus {
  color: white;
}

.nav-link.active {
  text-decoration: underline;
  text-underline-offset: 5px;
}

.navbar-light {
  margin-left: 1rem;
  margin-right: 1rem;
}

.navbar-light .navbar-brand {
  margin-top: 1rem;
  text-align: left;
}

.navbar-light .navbar-brand h4 {
  margin-bottom: 0px;
}

.navbar-light .navbar-brand p {
  font-size: 1rem;
}

.navbar-nav a {
  padding-top: 0px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.page-content {
  padding: 5%;
  min-height: calc(100% - 56px);
  margin-bottom: -80px;
}

.page-content:after {
  content: "";
  display: block;
  height: 80px;
}

.photos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.photo {
  position: relative;
  width: 20%;
  min-width: 300px;
  margin: 20px;
  height: 20%;
  min-height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 1px white;
  color: white;
}

.photo h4 {
  padding: 1rem;
}

.photo-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.gallery-img {
  filter: brightness(0.6);
}

.about, .contact-form {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}

.img-placeholder {
  width: 300px;
  height: 390px;
  background-color: rgb(50, 50, 50);
  border: solid 1px white;
  float: left;
  margin-right: 40px;
  margin-bottom: 20px;
}

.bio {
  text-align: left;
}

.modal-backdrop.show {
  opacity: 0.8;
}

.modal-dialog {
  max-width: none;
  max-height: none;
}

.modal-content,
.enlarged-photo {
  width: 100%;
  height: 100%;
  border-radius: 0px;
}

.enlarged-photo {
  border: solid 2px white;
}

.enlarged-photo-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.photo-details {
  display: none;
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: rgba(30, 30, 30, 0.7);
  padding: 20px;
  border-left: solid 2px white;
  border-bottom: solid 2px white;
  border-right: solid 2px white;
}

.photo-details h4,
.photo-details p {
  margin-bottom: 0;
}

.photo-details p {
  margin-top: 10px;
}

.previous,
.next,
.exit {
  position: fixed;
  width: 30px;
  height: 30px;
}

.previous,
.next {
  top: calc(50% - 15px);
}

.previous {
  left: 30px;
}

.next {
  right: 30px;
}

.exit {
  top: 30px;
  right: 30px;
}

.form-group {
  margin-bottom: 20px;
}

.form-group,
.form-group input,
.form-group textarea,
.contact-form form button {
  border-radius: 0px;
  letter-spacing: 1.1px;
}

.form-group input:focus,
.form-group textarea:focus {
  border-color: var(--dark-gray);
  box-shadow: 0 0 0 0.2rem var(--dark-gray);
}

.contact-form form button {
  text-transform: uppercase;
  margin-top: 30px;
}

.footer {
  height: 80px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer p {
  font-size: 14px;
  margin-bottom: 0px;
}

@media only screen and (max-width: 600px) {
  .img-placeholder {
    width: 100%;
    height: 390px;
    margin-left: auto;
    margin-right: auto;
    margin-right: 0px;
    margin-bottom: 30px;
  }
}

@media (hover: hover) {
  a:hover,
  .navbar-light .navbar-brand:hover,
  .navbar-light .navbar-nav .nav-link:hover {
    color: white;
  }

  .photo:hover {
    cursor: pointer;
    text-decoration: none;
    color: white;
  }

  .previous:hover,
  .next:hover,
  .exit:hover {
    cursor: pointer;
  }

  .modal-content:hover .photo-details {
    display: block;
  }

  .footer a:hover {
    text-decoration: none;
  }
}
